body
{
    margin:0px;
    padding:0px;
    background:#fff url('background.png') center center fixed no-repeat;
    background-size: cover;
}


#logo
{
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: 120px;
    color:blue;
    display:flex;
    justify-content:center;
}

#menu
{
    display: flex;
    justify-content: space-around;
}

#menu_list
{
    text-align: center;
    width:25%;
    font-size: 80px;
    color:purple;
    
}

#notyet
{
    text-decoration:line-through red ;
}

a
{
    text-decoration:none;
}

a:hover 
{
    text-decoration:underline;
    background-color:#fafafa;
    color:gray;
}

@media(max-width:1000px)
{
    #logo
    {
        font-size: 100px;
    }

    #menu
    {
        flex-wrap: wrap;
        
    }
    
    #menu_list
    {
        width:70%;
        font-size: 80px;
    }

}

@media(max-width:500px)
{
    #logo
    {
        margin-top: 25%;
        font-size: 70px;
        margin-bottom: 25%;
    }

    #menu_list
    {
        font-size: 60px;
    }

}
