body{
    background-color: #b0b32b;
}


a:hover{
    color:#ff705b;
    text-decoration: none;
}

h1{
    background-color: #6fbb9a;
    color:#fff;
    margin:40px auto;
    padding:30px;
    border:5px solid #95bddb;
    width:300px;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    border-radius: 40%;
}

p{
    font-size: 25px;
}
.h{
    padding:10px;
    margin-bottom: 30px;
    border:1px dotted#94c8b1;
    border-left: 10px solid #d0e35b;
    color:#6fbb9a; 
    border-radius: 5px 0 0 5px;
}

#menu{
    padding: 0;
}
#menu li{
    list-style-type: none;
    display:inline-block;
    width:200px;
    margin:0 10px;
    font-size: 30px;
}

#menu a{
    background:#6fbb9a;
    color:#fff;
    padding:10px;
    display:block;
    border-radius: 10px;
    text-decoration: none;
}
#menu a:hover{
    background:#90ddbb;
}

#contents{
    box-sizing:border-box;
    max-width:1200px;
    margin:40px auto;
    padding:4% 8%;
    border:1px solid #f6bb9e;
    background-color: #fff;
}

#intro #Td{
    width:50px;
}
#intro #td{
    width:200px;
}

.imgL{
    float:left;
    margin-right: 20px;
}

section+section{
    margin-top: 80px;
}

header,nav{
    text-align: center;
}

#down{
    display:flex;
    justify-content: space-around;
    background-color: #95bddb;
}



@media(max-width:700px){

    #menu li{
        display:block;
        width:60%;
        margin:0 auto 10px;
        font-size: 25px;
    }

    #intro{
        font-size: 18px;
    } 
    .imgL{
        margin-right: 0;
    }
    #intro #Td{
        width:45px;
        padding:8px;
    }
    #intro #td{
        width:150px;
        padding:8px;
    }
    #intro img{
        width:250px;
        height:250px;
    }
    p{
        font-size: 18px;
    }
}

@media(max-width:560px){

    h1{
        margin:30px auto;
        padding:20px;
        border:5px solid #95bddb;
        width:250px;
        font-size: 250%;
    }
    #intro{
        flex-wrap: wrap;
        text-align: center;
    } 
    .imgL{
        float:none;
        margin-right: 0;
    }
    
    #border{
        display:flex;
        justify-content: center;
    }

    #intro #Td{
        padding:5px;
        font-size: 18px;
    }
    #intro #td{
        padding:5px;
        font-size: 18px;
    }
    
    #intro img{
        width:180px;
        height:180px;
    }

    #down{
        flex-wrap: wrap;
        text-align: center;
    }
}
